*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  min-height: 100vh;
}
body{
  font-family: 'Times New Roman', sans-serif;
  background-color :#f9f9fa;
  display:flex;
  flex-direction: column;
}

header{
  background-color: #c2c1c9;
}

p {
  line-height: 1.5;
}

li {
  list-style:none;
}
nav ul {
  display: flex;
  flex-direction: column;
  padding:0;
  margin: 0;
  background-color: #4b4a55;
}
nav li {
  list-style:none;
  text-align: center;
    align-self: center;
    width: 100%; 
    padding: 10px;
    border-bottom: 1px solid #bbb;
}
nav a {
  text-decoration: none;
  color: white;
  display: block;
}

nav a:hover, nav a:focus {
  text-decoration: underline;
}

.current {
    background-color: #201f25;
    font-size: 17px;
    font-weight: bold;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 1);
}

footer {
  text-align: center;
  font-size: 14px;
  height:2.5rem;
  margin-top:auto;
}


h1{
    padding: 10px;
    font-size: 28px;
}

h2{
  font-size:20px;
}

.about_me_img {
  width: 220px;
  height: auto;
  object-fit: cover;
  align-self: center;
  margin:10px;
  border-radius:20px;
}

.about_me {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding-top:20px;
}

.about_me_text > h1 {
  text-align:center;
  color: #4b4a55;
  font-size:33px;
}
.about_me_text {
  padding: 0 50px 50px 50px;
}
.place {
  background-image: url('../images/background.jpg');
  opacity:0.6;
  color: white;
  font-size:20px;
  border-radius:10px;
  box-shadow:5px 8px 15px #3B719F;
}
.art {
  border:2px solid #4b4a55;
  border-radius:10px;
  background-color: #ebeaed;
  box-shadow:5px 8px 15px #4b4a55;
}
.place p , .art p{
  text-align:center;
  padding:30px;
}
 .grid_photos{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    padding: 40px;
    margin: 0 auto;
    justify-items: center;
  }
   .gallery-image {
    max-width: 100%;
    height: auto;
    object-fit:cover;
  }
  .gallery-frame {
    padding: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
    background-color:#4b4a55;
    color:white;
  }
  
  a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
  a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }
  .contain {
    padding: 20px 4%;
  }

  .flex_container{
    padding-top:30px;
    display: flex;
    flex-direction: column;
    gap:10px;
  }
  .flex_container .column {
    display:flex;
    flex-direction:column;
    gap:10px;
  }
  .image-item img {
    width:100%;
    border-radius:5px;
    height:100%;
    object-fit:cover;
  }
  .image-item {
    position:relative;
    cursor:pointer;
    }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    bottom: 0;
    left: 0;
    transform: scale(0);
    color: #fff;
    font-weight:bold;
    font-size:25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .image-item:focus .overlay {
    transform: scale(1);
  }
  .experience, .classes{
    border: 3px solid #4b4a55;
    background-color:#ebeaed;
    padding: 15px;
    margin:10px;
    box-shadow: 5px 15px 18px #787687;
  }
  .exp {
    color: #4b4a55;
  }
  .box, .exp-container {
    display:flex;
    flex-direction:column;
    padding-bottom:30px;
  }
  .skills {
    padding:0 20px 0 20px;
  }
  .skills > h2{
    padding-left:10px;
  }
  .progress-bar  {
    color:#201f25;
    font-size:18px;
  }

  .classes > ul {
    line-height:1.5;
  }
  .classes > h2 {
    font-size:22px;
    color:#4b4a55;
    font-weight:bolder;
    padding-bottom:10px;
  }

  .contact {
    padding: 0 10px 0 10px;
  }


  @media screen and (min-width: 768px){

    nav ul{
      flex-direction:row;
    }
    nav li{
      border-right: 1px solid #bbb;
      border-bottom:none;
    }
    .current{
      font-size:20px;
    }
    .grid_photos{
      grid-template-columns: 1fr 1fr;
    }
    .gallery-image {
      max-width: 100%;
      height: auto;
      object-fit:cover;
    }
    .about_me {
      flex-direction: row;
      padding-top:40px;
    }
    .about_me_img {
      width: 400px;
      padding-left:40px;
    }
    .about_me_text > h1 {
      font-size:38px;
    }
    .about_me_text {
      padding-left: 30px;
      padding-right: 30px;
    }
    .about_me_text > p {
      padding-top:15px;
    }
    .contain {
      padding: 30px 1%;
    }
    .flex_container{
      flex-direction: row;
      flex-wrap:wrap;
    }
    .flex_container .column{
      flex-direction: row;
      flex-wrap: wrap;
      flex: 1 1 calc(50% - .4em);
    }
    .box3 .image-item:nth-last-child(-n+3){
      flex: 0 1 calc(50% - .4em);
    }


    .art p{
      font-size:18px;
    }

  .total-exp, .box {
    padding-right:40px;
  }
  .skills {
    padding-bottom:2px;
  }

  .contact {
    padding-right:50px;
  }


  }

  @media screen and (min-width: 1024px){
    nav ul {
      width: 50%;
      float:right;
      margin-top:10px;
    }
    header h1{
      float:left;
    }

    .about_me_text > h1 {
      font-size:45px;
    }
    .grid_photos{
      grid-template-columns: 1fr 1fr 1fr;
    }
    .gallery-frame:nth-child(3), .gallery-frame:nth-child(4){
      align-self: center;
    }
     .about_me_img {
      width: 500px;
      padding-left:50px;
    }
    .about_me_text {
      padding-left: 40px;
      padding-right: 40px;
    }
    .flex_container .column{
      flex: 0 1 calc(33% - .3em);
    } 
    .box3 .image-item:nth-last-child(-n+3){
      flex:unset;
    }

    .exp-container, .box{
      flex-direction: row;
    }
    .progress {
      width:450px;
    }
    .experience {
      padding-right:40px;
    }
    .form-group {
      width:50%;
    }
  
  }
